/* RESET CSS */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
.text-white{
    color:#fff !important;
}
:root{
    --primary-color:rgb(6, 147, 133);
}
.element {
    background: linear-gradient(to right, rgb(34, 0, 255), rgb(0, 255, 213), rgb(233, 108, 170),gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changes-color 5s ease-in-out ;
  }
.change-kolor{
    background:linear-gradient(to right,  rgb(172, 117, 117),rgb(50, 243, 50), rgb(43, 43, 227));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:changes-color 4s ease infinite;
}
@keyframes changes-color {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

.color-changing-text {
    animation: change-color 2s linear infinite;
}
  
  @keyframes change-color {
    0% {
      color: red;
    }
    25%{
        color:rgb(31, 17, 228);
    }
    50% {
      color: rgb(205, 205, 215);
    }
    75%{
        color:rgb(100, 50, 100);
    }
    100% {
      color: rgb(136, 184, 136);
    }
  }
/* main */
html{
    scroll-behavior: smooth;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main{
}
.header{
    height:48px;
    background: linear-gradient(to bottom, #000000, rgb(61, 124, 172));
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
}
.header-list{
    height:100%;
    display: flex;
    list-style: none;
}
.header-list__item{
    padding: 0 12px;
    position: relative;
}
.header-list__item-label{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content:center;
}
.header-list__item-label i{
    padding:0 2px;
    margin-top:-5px;
    color: white;
}
.header-list__item:hover
.header-list__item-icon{
    color: #333;
}
.header-list__item:hover{
    color:#333;
}
.header-item__link{
    text-decoration: none;
    display:block;
    min-width:60px;
    font-size:18px;
    line-height: 48px;
    padding:0 8px;
    color:#fff;
    text-transform: uppercase;
}
.header-list__item:hover{
    background-color: #ccc;
}  
.header-item__link:hover
{
    color:#333;
}
.header-list__item:hover .header-list__sub{
    display:inline-block;
    background-color: #fff;
}
.header-item__icon{
    font-size:12px;
}
.header-list__sub{
    width:160px;
    left:0;
    position:absolute;
    background-color: #fff;
    list-style: none;
    display:none;
    box-shadow: 0 1px 2px 0 #333;
    z-index: 2 ;
}
.header-item__sub{
    padding:8px 0;
    width:100%;
}
.header-item__sub:hover{
    background-color: #ccc;
}
.header-item-sub__link{
    font-size: 16px;
    height:16px;
    line-height:16px;
    padding:0 30px 0 10px;
    text-transform: capitalize;
    color:#333;
    text-decoration: none;
}
.header-search{
    margin-top:-34px;
    float:right;
}
.header-search__icon:hover{
    background-color: #fa2c2c;
}
.header-search__icon{
    color:#fff;
    font-size:20px;
    padding:14px 25px 14px 25px;
}
.slide{
    height:700px;
    width:100%;
    margin-top:-20px;
    padding-top:50%;
    position: relative;
    filter: brightness(1.3);
    background: url(/img/anh1.jpg) top center/ cover no-repeat ; 
}
.slide-content-info{
    position:absolute;
    bottom:450px;
    left:70px;
}
.slide-content-info h1{
    font-size: 60px;
    font-weight: 500;
    padding:50px 0;
}
.slide-content-info p{
    font-size:22px;
    padding-bottom:5px 0 30px 0;
}
.slide-content-info-label{
    display:block;
    width:280px;
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
    color:#444;
    background-color: rgba(231, 225, 225, 0.6);
    margin-top:40px;
    text-decoration:none ;
}
.slide-content-info-label:hover{
    background-color: rgba(205, 190, 190, 0.6);
    color:#e4e1e1;
}
.slide-content-destination{
    position:absolute;
    bottom:100px;
    left:70px;
}
.slide-content-destination a{
    padding:2px 0;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    display:block;
    color:#fff;
}
.slide-content-destination i{
    color:#fff;
    font-size: 500;
}
.slide-content-destination a:hover{
    box-shadow: 0 1px 2px 4px #ccc;
}
.slide-content-option{
    position:absolute;
    bottom:300px;
    left:50%;
    transform: translateX(-50%);
}
.slide-content-option a{
    display:inline-block;
    text-decoration: none;
    font-size: 50px;
    padding:0 15px;
    color:#fff;
    text-align: center;
    font-weight: 100;
}
.slide-content-option span{
    padding-top:10px;
    display:block;
    font-size: 20px;
}
.slide-content-option i:hover{
    color:#4db5c3;
    cursor: pointer;
    transform: scale(1.5);
}
.slide-content{
    position:absolute;
    bottom:80px;
    left:50%;
    transform: translateX(-50%);
}
.slide-content-warrper{
    left:82%;
}
.slide-interface{
    position:absolute;
    right:80px;
    top:80px;
    filter: invert(100%);
}
.slide-interface-img{
    display:block;
    width:240px;
    height:240px;
}
.text-heading{
    font-size:28px;
    font-style: oblique;
    font-weight: 600;
    color:#fff;
    text-align: center;
    padding:20px 5px; 
    animation: changes-kolor ease;
}
.text-decription{
    font-size: 18px;
    color:#fff;
    font-weight:500;
    padding:5px 0
}
.content-section{
    width:900px;
    margin:0 auto;
    padding:64px 0 80px 0;
    height:auto;  
}
.content-section .contact-info-icon {
    color:#000;
}
.section-heading{ 
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
.section-sub-heading{
    text-align: center;
    font-size: 16px;
    margin-top:25px ;
    color:#959595;
    font-style:italic;
}
.about-text{
    margin-top:25px;
    font-size: 16px;
    font-weight:300;
    line-height:20px;
    text-align: justify;
}
.member-list{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    margin-top:60px;
    justify-content: space-between;
    padding:5px 0 30px 0;
}
.member-item i{
    font-size:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color:var(--primary-color);
}
.member-item p{
    color:var(--primary-color)
}
.member-item span{
    display:block;
    width:230px;
    text-align: center;
    padding:0 10px;
}
.member-name{
    padding-top:40px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding-bottom:10px;
    color:#858282
}
.member-avatar{
    width:160px;
    height:160px;
    background-position: center;
    background-size: contain;
    border-radius:4px;
} 
.grid {
    padding:40px 0;
} 
.wide .row{
    margin-top:0;
}
.c-4{
    border: 1px solid #dedcdc;
    box-shadow: 0 1px 2px 1px #c0bebe;
    box-sizing: border-box;
}
.c-4 span{
    padding:10px;
    font-size: 20px;
    font-weight: 400;
    color:#2b2929;
    text-transform: uppercase;
    display:flex;
    align-items: center;
    justify-content: center;
}
.c-4 img{
    display:block;
    margin: 10px auto;
    height:250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(1.2)
}
.contact-info{
    padding:0 10px;
    overflow: hidden;
}
.contact-info p{
    color:#595656;
    padding:12px 0;
}
.contact-info a{
    text-decoration: none;
    color:#727171;
}
.contact-info i{
    color:var(--primary-color);
    padding-right:5px;
}
hr{
    margin:0 auto;
    width:280px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0
}
.contact-info b{
    margin-left:10px;
}
.outer-rectangle {
    height:20px;
    width: 100%;
    background-color: rgb(199, 197, 197);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    margin:0 0 12px 0;
  }
  .inner-rectangle {
    width: 90%;
    height:20px;
    background-color: var(--primary-color); /* Màu xanh */
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; 
    font-weight:700;
    color:#Fff;
  }
  .inner-c{
    width: 70%;
    height:20px;
    background-color: var(--primary-color); /* Màu xanh */
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff;
  }
  .inner-html{
    width: 50%;
    height:20px;
    background-color: var(--primary-color); 
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff; 
  }
  .inner-photo{
    width: 30%;
    height:20px;
    background-color: var(--primary-color); 
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff; 
  }
  .inner-java{
    width:10%;
    height:20px;
    background-color: var(--primary-color);
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff; 
  }
  .inner-language-vn{
    width: 97%;
    height:20px;
    background-color: var(--primary-color); 
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff; 
  }
.inner-language-el{
    width: 10%;
    height:20px;
    background-color: var(--primary-color); 
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight:700;
    color:#Fff; 
}
/* c-8 row */
.c-8 .row{
    margin-left:10px;
    margin-right:0 !important;
}
.row{
    margin-left:10px;
    margin-right:10px;
}
.c-12{
    padding:10px 0 10px 20px;
    border:1px solid #dddada;
    box-shadow: 0 1px 2px 1px #c0bebe;
}
.c-12-container{
    margin-bottom: 30px;
}
.c-12 h2 {
    font-size: 28px;
    font-weight: 400;
    color:#777474;
    padding:20px 0;
    margin-bottom:10px;
}
.c-12-brief{
    color:var(--primary-color);
    padding-right:10px;
    margin-left:-10px;
}
.c-12 h5{
    font-size: 18px;
    font-weight: 300;
    color:#918c8c;
    margin:10px 0;
}
.c-12 h6{
    font-size: 18px;
    font-weight: 300;
    color:var(--primary-color);
    margin:10px 0;
}
.row .row-2{
    margin-top:10px;
}
/* contact */
.contact-list{
    padding:10px 0 40px 0
}

.contact-item{
    display:block;

}
.contact-item-text{
    padding-left:5px;
}
.contact-info{
    font-size:18px;
    line-height:1.5;
}
.contact-info-icon{
    width:30px;
    display:inline-block;
}
.form-control{
    padding:11px 10px;
    border:1px solid #ccc;
    margin:0 10px 0 0;
}
.row{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}
.row-list{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.from-control-left{
    margin-left:158px;
    padding-left: 8px;
    padding-right: 5px;
}
.from-control-right{
    margin: 0 0 0 14px;
    padding-left: 10px;
    padding-right: 10px;;
}
.form-control-height{
    margin-left:157px;
    margin-top:10px;
    width:72%;
    padding:11px;
    border:1px solid #ccc;
}
.contact-send{
    width:80px;
    height:38px;
    margin-top:20px;
    margin-left:450px;
}
#slide-image h2{
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #393838;
    width:100%;
    margin-bottom: 30px;
}
.map-section{
    margin:auto;
    display:block;
    width:70%;
    object-fit: cover;
}
.footer{
    padding:50px 16px;
    text-align: center;
}
.social-list{
    font-size:24px;
}
.footer-icon{
    color:rgba(0 ,0 ,0 ,0.6);
    text-decoration: none;
}
.footer-text a:hover,.footer-icon:hover{
    color:rgba(0 ,0 ,0 ,0.4)
}
.footer-text{
    padding:15px 0;
    color:rgba(0 ,0 ,0 ,0.6);
    font-size: 18px;
    font-weight: 200;
}
.footer-text a{
    color:rgba(0 ,0 ,0 ,0.6);
}
/* modal */
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0 , 0 ,0.4);
    display:none;
}
.modal.open{
    display:flex;
}
.modal-container{
    position: relative;
    background-color: #fff;
    width:900px;
    max-width: calc(100% - 32px);
    min-height:300px;
    animation: modalFaceIn ease 0.5s;
}
.modal-close{
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    padding:12px;
    cursor:pointer;
}
.modal-close:hover{
    color:#000;
    background-color: #cac5c5;
}
.modal-header{
    height:130px;
    font-size: 30px;
    color:#fff;
    background-color: rgb(0,139,126);
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-header-img{
    margin-right:16px;
}
.modal-body{
    padding:16px;
}
.modal-label{
    display:block;
    font-size: 15px;
    margin-bottom:12px;
}
.modal-input{
    font-size: 15px;
    display: block;
    border:1px solid #ccc;
    width:100%;
    padding:10px;
    margin-bottom:24px;
}
#buy-products{
    font-size: 15px;
    display:block;
    width:100%;
    border:none;
    padding:18px;
    text-transform: uppercase;
    color:#fff;
    background-color: rgb(0,139,126);
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color:#000;
}
.modal-footer{
    padding:16px;
    text-align: right;   
}
.modal-help a{
    color:rgb(72, 166, 243)
}
@keyframes modalFaceIn {
    from{ opacity: 0;
        transform:translateY(-140px)
    }
    to{
        opacity: 1;
        transform:translatey(0)
    } 
}